<html lang="ru" class=""><head>
	<meta charset="UTF-8">
	<title>My Site</title>
	<meta name="robots" content="noindex">

	{% load static %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


	<body>
		{% block content %}
			<div class="section over-hide z-bigger">


				<div class="col-12 pb-5 d-flex justify-content-center">
					<input class="checkbox-services" type="radio" name="reg" checked="" id="reg-button">
					<label class="for-checkbox-services" for="reg-button">
						Регистрация
					</label>
				</div>


				<input class="checkbox change-theme" type="checkbox" name="general" id="general">
				<label class="for-checkbox" for="general"></label>
				<div class="section over-hide z-bigger">
					<div class="container pb-5">
						<div class="services">
							<div class="col-12 pt-5">
								<p class="mb-4 pb-2 section-title">Сервис</p>
							</div>
							<div class="col-12 pb-5 d-flex justify-content-center">
								{% for service in services  %}
									<div class="service-item" data-myid="{{ service.id }}">
										<input class="checkbox-services" type="radio" name="services" checked="" id="service-{{ service.id }}">
										<label class="for-checkbox-services" for="service-{{ service.id }}">
											{{ service.name }}
										</label>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="categories">
							<div class="col-12 pt-1">
								<p class="mb-4 pb-2 section-title">Категория</p>
							</div>
							<div class="col-xl-10 pb-5">
								{% for category in categories  %}
									<div class="category-item" data-myid="{{ category.id }}" data-service="{{ category.service_id.pk }}">
										<input class="checkbox-category" type="radio" name="category" checked="" id="category-{{ category.id }}">
										<label class="for-checkbox-category" for="category-{{ category.id }}">
											<span data-hover="{{ category.name }}">{{ category.name }}</span>
										</label>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="products">
							<div class="col-12 pt-1">
								<p class="mb-4 pb-2 section-title">Товар</p>
							</div>
							<div class="col-12 pb-5">
								{% for  product in concrete_products %}
									<div class="product-item" data-myid="{{ product.id }}" data-category="{{ product.category_id.pk }}" data-service="{{ product.service_id.pk }}">
										<input class="checkbox-product" type="radio" name="product" id="product-{{ product.id }}">
										<label class="for-checkbox-product" for="product-{{ product.id }}">
											<span class="text">{{ product.name }}</span>
										</label>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
		<script type="text/javascript" src="{% static 'main.js' %}"></script>
	</body>

</html>
